<table class="table table-responsive table-hover table-bordered">
  <thead class="thead-inverse">
    <th>
      Table
    </th>

    <th colspan="<%= @most_columns %>">
      Columns
    </th>
  </thead>

  <tbody>
    <% @tables.each do |table| %>
      <tr>
        <th>
          <%= table %>
        </th>

        <% table.columns.each do |column| %>
          <td>
            <%= column.name %>
          </td>
        <% end %>

        <% (@most_columns - table.columns.count).times do %>
          <td></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
